Juntos/Juntos.aplicacao.Services/Service References/wsProxy/ControladorDePagamentoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/juntos.PagamentoService.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/juntos.PagamentoService.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3815/ControladorDePagamentoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Pagamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="ser:guid" />
      <xs:element minOccurs="0" name="DataPagamento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormaPagamento" type="tns:FormaPagamento" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusPagamento" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pagamento" nillable="true" type="tns:Pagamento" />
  <xs:simpleType name="FormaPagamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cartao" />
      <xs:enumeration value="PayPal" />
      <xs:enumeration value="PagSeguro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FormaPagamento" nillable="true" type="tns:FormaPagamento" />
  <xs:simpleType name="StatusPagamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pendente" />
      <xs:enumeration value="Aprovado" />
      <xs:enumeration value="Rejeitado" />
      <xs:enumeration value="Cancelado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusPagamento" nillable="true" type="tns:StatusPagamento" />
</xs:schema>