Juntos/OfertaConsoleTest/Service References/proxy/JuntosService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1970/JuntosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" />
  <xs:import schemaLocation="http://localhost:1970/JuntosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Juntos.Model.Enums" />
  <xs:element name="RetornarTodosConsumidores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodosConsumidoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="RetornarTodosConsumidoresResult" nillable="true" type="q1:ArrayOfConsumidorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarConsumidorPeloId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarConsumidorPeloIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="ConsultarConsumidorPeloIdResult" nillable="true" type="q2:ConsumidorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarConsumidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="consumidor" nillable="true" type="q3:ConsumidorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarConsumidorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodosAnunciantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodosAnunciantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="RetornarTodosAnunciantesResult" nillable="true" type="q4:ArrayOfAnuncianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAnunciantePeloId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAnunciantePeloIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="ConsultarAnunciantePeloIdResult" nillable="true" type="q5:AnuncianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAnunciantePeloEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAnunciantePeloEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="ConsultarAnunciantePeloEmailResult" nillable="true" type="q6:AnuncianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAnunciante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="anunciante" nillable="true" type="q7:AnuncianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAnuncianteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodasOfertasPorAnunciante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="anuncianteid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodasOfertasPorAnuncianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="RetornarTodasOfertasPorAnuncianteResult" nillable="true" type="q8:ArrayOfOfertaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarOfertaPeloId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarOfertaPeloIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="ConsultarOfertaPeloIdResult" nillable="true" type="q9:OfertaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="oferta" nillable="true" type="q10:OfertaDTO" />
        <xs:element minOccurs="0" name="idConsumidor" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarOfertaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodasComprasPorConsumidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consumidorid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodasComprasPorConsumidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="RetornarTodasComprasPorConsumidorResult" nillable="true" type="q11:ArrayOfCompraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodasCompras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodasComprasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="RetornarTodasComprasResult" nillable="true" type="q12:ArrayOfCompraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompraPeloId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompraPeloIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="ConsultarCompraPeloIdResult" nillable="true" type="q13:CompraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="compra" nillable="true" type="q14:CompraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsumidor" type="xs:long" />
        <xs:element minOccurs="0" name="idOferta" type="xs:long" />
        <xs:element minOccurs="0" name="quantidadeCupons" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarOfertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="ComprarOfertaResult" nillable="true" type="q15:CompraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompra" type="xs:long" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Juntos.Model.Enums" minOccurs="0" name="formaPagamento" type="q16:EnumFormaPagamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagarCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarUsoCupom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCupom" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarUsoCupomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicarOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOferta" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicarOfertaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCuponsNaoUtilizados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ofertaid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCuponsNaoUtilizadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="ListarCuponsNaoUtilizadosResult" nillable="true" type="q17:ArrayOfCupomDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsolidarOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ofertaid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsolidarOfertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="ConsolidarOfertaResult" nillable="true" type="q18:ArrayOfCupomDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodasOfertas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarTodasOfertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" minOccurs="0" name="RetornarTodasOfertasResult" nillable="true" type="q19:ArrayOfOfertaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>