Juntos/WcfServiceApp/Service References/wsProxy/ControladorDePagamentoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5241/ControladorDePagamentoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/juntos.PagamentoService.model" />
  <xs:element name="PaymentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/juntos.PagamentoService.model" minOccurs="0" name="pgto" nillable="true" type="q1:Pagamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pagtoid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/juntos.PagamentoService.model" minOccurs="0" name="GetPaymentResultResult" nillable="true" type="q2:Pagamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>