Juntos/WcfServiceApp/Service References/wsProxy/PagamentoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PagamentoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3815/ControladorDePagamentoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3815/ControladorDePagamentoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3815/ControladorDePagamentoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/juntos.PagamentoService.model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControladorPagamentoService_PaymentRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentRequest" />
  </wsdl:message>
  <wsdl:message name="IControladorPagamentoService_GetPaymentResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentResult" />
  </wsdl:message>
  <wsdl:message name="IControladorPagamentoService_GetPaymentResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IControladorPagamentoService">
    <wsdl:operation name="PaymentRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IControladorPagamentoService/PaymentRequest" message="tns:IControladorPagamentoService_PaymentRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IControladorPagamentoService/GetPaymentResult" message="tns:IControladorPagamentoService_GetPaymentResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControladorPagamentoService/GetPaymentResultResponse" message="tns:IControladorPagamentoService_GetPaymentResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IControladorPagamentoService" type="tns:IControladorPagamentoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PaymentRequest">
      <soap:operation soapAction="http://tempuri.org/IControladorPagamentoService/PaymentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentResult">
      <soap:operation soapAction="http://tempuri.org/IControladorPagamentoService/GetPaymentResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagamentoService">
    <wsdl:port name="BasicHttpBinding_IControladorPagamentoService" binding="tns:BasicHttpBinding_IControladorPagamentoService">
      <soap:address location="http://localhost:3815/ControladorDePagamentoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>