Juntos/ConsoleApplication1/Service References/proxy/JuntosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JuntosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1048/JuntosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1048/JuntosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1048/JuntosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" />
      <xsd:import schemaLocation="http://localhost:1048/JuntosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Juntos.Model.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJuntosService_RetornarTodosConsumidores_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodosConsumidores" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodosConsumidores_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodosConsumidoresResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarConsumidorPeloId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarConsumidorPeloId" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarConsumidorPeloId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarConsumidorPeloIdResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_SalvarConsumidor_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarConsumidor" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_SalvarConsumidor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarConsumidorResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodosAnunciantes_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodosAnunciantes" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodosAnunciantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodosAnunciantesResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarAnunciantePeloId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAnunciantePeloId" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarAnunciantePeloId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAnunciantePeloIdResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarAnunciantePeloEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAnunciantePeloEmail" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarAnunciantePeloEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAnunciantePeloEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_SalvarAnunciante_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarAnunciante" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_SalvarAnunciante_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarAnuncianteResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodasOfertasPorAnunciante_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodasOfertasPorAnunciante" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodasOfertasPorAnunciante_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodasOfertasPorAnuncianteResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarOfertaPeloId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarOfertaPeloId" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarOfertaPeloId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarOfertaPeloIdResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_SalvarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarOferta" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_SalvarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodasComprasPorConsumidor_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodasComprasPorConsumidor" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodasComprasPorConsumidor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodasComprasPorConsumidorResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodasCompras_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodasCompras" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodasCompras_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodasComprasResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarCompraPeloId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCompraPeloId" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsultarCompraPeloId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCompraPeloIdResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_SalvarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarCompra" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_SalvarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ComprarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:ComprarOferta" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ComprarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComprarOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_PagarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:PagarCompra" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_PagarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:PagarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_InformarUsoCupom_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarUsoCupom" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_InformarUsoCupom_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarUsoCupomResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_PublicarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:PublicarOferta" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_PublicarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublicarOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ListarCuponsNaoUtilizados_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCuponsNaoUtilizados" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ListarCuponsNaoUtilizados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCuponsNaoUtilizadosResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsolidarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsolidarOferta" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_ConsolidarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsolidarOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodasOfertas_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodasOfertas" />
  </wsdl:message>
  <wsdl:message name="IJuntosService_RetornarTodasOfertas_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarTodasOfertasResponse" />
  </wsdl:message>
  <wsdl:portType name="IJuntosService">
    <wsdl:operation name="RetornarTodosConsumidores">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodosConsumidores" message="tns:IJuntosService_RetornarTodosConsumidores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodosConsumidoresResponse" message="tns:IJuntosService_RetornarTodosConsumidores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarConsumidorPeloId">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/ConsultarConsumidorPeloId" message="tns:IJuntosService_ConsultarConsumidorPeloId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/ConsultarConsumidorPeloIdResponse" message="tns:IJuntosService_ConsultarConsumidorPeloId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarConsumidor">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/SalvarConsumidor" message="tns:IJuntosService_SalvarConsumidor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/SalvarConsumidorResponse" message="tns:IJuntosService_SalvarConsumidor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarTodosAnunciantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodosAnunciantes" message="tns:IJuntosService_RetornarTodosAnunciantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodosAnunciantesResponse" message="tns:IJuntosService_RetornarTodosAnunciantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAnunciantePeloId">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/ConsultarAnunciantePeloId" message="tns:IJuntosService_ConsultarAnunciantePeloId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/ConsultarAnunciantePeloIdResponse" message="tns:IJuntosService_ConsultarAnunciantePeloId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAnunciantePeloEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/ConsultarAnunciantePeloEmail" message="tns:IJuntosService_ConsultarAnunciantePeloEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/ConsultarAnunciantePeloEmailResponse" message="tns:IJuntosService_ConsultarAnunciantePeloEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarAnunciante">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/SalvarAnunciante" message="tns:IJuntosService_SalvarAnunciante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/SalvarAnuncianteResponse" message="tns:IJuntosService_SalvarAnunciante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarTodasOfertasPorAnunciante">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodasOfertasPorAnunciante" message="tns:IJuntosService_RetornarTodasOfertasPorAnunciante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodasOfertasPorAnuncianteResponse" message="tns:IJuntosService_RetornarTodasOfertasPorAnunciante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarOfertaPeloId">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/ConsultarOfertaPeloId" message="tns:IJuntosService_ConsultarOfertaPeloId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/ConsultarOfertaPeloIdResponse" message="tns:IJuntosService_ConsultarOfertaPeloId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/SalvarOferta" message="tns:IJuntosService_SalvarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/SalvarOfertaResponse" message="tns:IJuntosService_SalvarOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarTodasComprasPorConsumidor">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodasComprasPorConsumidor" message="tns:IJuntosService_RetornarTodasComprasPorConsumidor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodasComprasPorConsumidorResponse" message="tns:IJuntosService_RetornarTodasComprasPorConsumidor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarTodasCompras">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodasCompras" message="tns:IJuntosService_RetornarTodasCompras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodasComprasResponse" message="tns:IJuntosService_RetornarTodasCompras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCompraPeloId">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/ConsultarCompraPeloId" message="tns:IJuntosService_ConsultarCompraPeloId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/ConsultarCompraPeloIdResponse" message="tns:IJuntosService_ConsultarCompraPeloId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/SalvarCompra" message="tns:IJuntosService_SalvarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/SalvarCompraResponse" message="tns:IJuntosService_SalvarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComprarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/ComprarOferta" message="tns:IJuntosService_ComprarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/ComprarOfertaResponse" message="tns:IJuntosService_ComprarOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PagarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/PagarCompra" message="tns:IJuntosService_PagarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/PagarCompraResponse" message="tns:IJuntosService_PagarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformarUsoCupom">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/InformarUsoCupom" message="tns:IJuntosService_InformarUsoCupom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/InformarUsoCupomResponse" message="tns:IJuntosService_InformarUsoCupom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublicarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/PublicarOferta" message="tns:IJuntosService_PublicarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/PublicarOfertaResponse" message="tns:IJuntosService_PublicarOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCuponsNaoUtilizados">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/ListarCuponsNaoUtilizados" message="tns:IJuntosService_ListarCuponsNaoUtilizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/ListarCuponsNaoUtilizadosResponse" message="tns:IJuntosService_ListarCuponsNaoUtilizados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsolidarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/ConsolidarOferta" message="tns:IJuntosService_ConsolidarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/ConsolidarOfertaResponse" message="tns:IJuntosService_ConsolidarOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarTodasOfertas">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodasOfertas" message="tns:IJuntosService_RetornarTodasOfertas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntosService/RetornarTodasOfertasResponse" message="tns:IJuntosService_RetornarTodasOfertas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJuntosService" type="tns:IJuntosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarTodosConsumidores">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/RetornarTodosConsumidores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarConsumidorPeloId">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/ConsultarConsumidorPeloId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarConsumidor">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/SalvarConsumidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarTodosAnunciantes">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/RetornarTodosAnunciantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAnunciantePeloId">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/ConsultarAnunciantePeloId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAnunciantePeloEmail">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/ConsultarAnunciantePeloEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarAnunciante">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/SalvarAnunciante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarTodasOfertasPorAnunciante">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/RetornarTodasOfertasPorAnunciante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarOfertaPeloId">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/ConsultarOfertaPeloId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarOferta">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/SalvarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarTodasComprasPorConsumidor">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/RetornarTodasComprasPorConsumidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarTodasCompras">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/RetornarTodasCompras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCompraPeloId">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/ConsultarCompraPeloId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarCompra">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/SalvarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprarOferta">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/ComprarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagarCompra">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/PagarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformarUsoCupom">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/InformarUsoCupom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicarOferta">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/PublicarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCuponsNaoUtilizados">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/ListarCuponsNaoUtilizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsolidarOferta">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/ConsolidarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarTodasOfertas">
      <soap:operation soapAction="http://tempuri.org/IJuntosService/RetornarTodasOfertas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JuntosService">
    <wsdl:port name="BasicHttpBinding_IJuntosService" binding="tns:BasicHttpBinding_IJuntosService">
      <soap:address location="http://localhost:1048/JuntosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>