Juntos/ConsoleApplication1/Service References/proxy/JuntosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Juntos.Apresentacao.WcfServiceApp.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4680/JuntosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Juntos.Model.Enums" />
  <xs:import schemaLocation="http://localhost:4680/JuntosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfConsumidorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsumidorDTO" nillable="true" type="tns:ConsumidorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsumidorDTO" nillable="true" type="tns:ArrayOfConsumidorDTO" />
  <xs:complexType name="ConsumidorDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PessoaDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Compras" nillable="true" type="tns:ArrayOfCompraDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsumidorDTO" nillable="true" type="tns:ConsumidorDTO" />
  <xs:complexType name="PessoaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enderecos" nillable="true" type="tns:ArrayOfEnderecoDTO" />
          <xs:element minOccurs="0" name="Inscricao" type="xs:long" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefones" nillable="true" type="tns:ArrayOfTelefoneDTO" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Juntos.Model.Enums" minOccurs="0" name="Tipo" type="q1:EnumTipoPessoa" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PessoaDTO" nillable="true" type="tns:PessoaDTO" />
  <xs:complexType name="EntidadeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EntidadeDTO" nillable="true" type="tns:EntidadeDTO" />
  <xs:complexType name="ArrayOfEnderecoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnderecoDTO" nillable="true" type="tns:EnderecoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnderecoDTO" nillable="true" type="tns:ArrayOfEnderecoDTO" />
  <xs:complexType name="EnderecoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numero" type="xs:int" />
          <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnderecoDTO" nillable="true" type="tns:EnderecoDTO" />
  <xs:complexType name="ArrayOfTelefoneDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TelefoneDTO" nillable="true" type="tns:TelefoneDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTelefoneDTO" nillable="true" type="tns:ArrayOfTelefoneDTO" />
  <xs:complexType name="TelefoneDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DDD" type="xs:short" />
          <xs:element minOccurs="0" name="DDI" type="xs:short" />
          <xs:element minOccurs="0" name="Numero" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TelefoneDTO" nillable="true" type="tns:TelefoneDTO" />
  <xs:complexType name="ArrayOfCompraDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompraDTO" nillable="true" type="tns:CompraDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompraDTO" nillable="true" type="tns:ArrayOfCompraDTO" />
  <xs:complexType name="CompraDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConsumidorDto" nillable="true" type="tns:ConsumidorDTO" />
          <xs:element minOccurs="0" name="Cupons" nillable="true" type="tns:ArrayOfCupomDTO" />
          <xs:element minOccurs="0" name="DataCompra" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Pagamentos" nillable="true" type="tns:ArrayOfPagamentoDTO" />
          <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompraDTO" nillable="true" type="tns:CompraDTO" />
  <xs:complexType name="ArrayOfCupomDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CupomDTO" nillable="true" type="tns:CupomDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCupomDTO" nillable="true" type="tns:ArrayOfCupomDTO" />
  <xs:complexType name="CupomDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataUtilizacao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataValidade" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OfertaDto" nillable="true" type="tns:OfertaDTO" />
          <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CupomDTO" nillable="true" type="tns:CupomDTO" />
  <xs:complexType name="OfertaDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnuncianteDto" nillable="true" type="tns:AnuncianteDTO" />
          <xs:element minOccurs="0" name="Condicoes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CuponsGerados" nillable="true" type="tns:ArrayOfCupomDTO" />
          <xs:element minOccurs="0" name="DataExpiracao" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataInicioValidade" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataPublicacao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DataValidadeCupons" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroMaximoCupons" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Juntos.Model.Enums" minOccurs="0" name="Status" type="q2:EnumStatusOferta" />
          <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValorCupons" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfertaDTO" nillable="true" type="tns:OfertaDTO" />
  <xs:complexType name="AnuncianteDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PessoaDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ofertas" nillable="true" type="tns:ArrayOfOfertaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnuncianteDTO" nillable="true" type="tns:AnuncianteDTO" />
  <xs:complexType name="ArrayOfOfertaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfertaDTO" nillable="true" type="tns:OfertaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfertaDTO" nillable="true" type="tns:ArrayOfOfertaDTO" />
  <xs:complexType name="ArrayOfPagamentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PagamentoDTO" nillable="true" type="tns:PagamentoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPagamentoDTO" nillable="true" type="tns:ArrayOfPagamentoDTO" />
  <xs:complexType name="PagamentoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadeDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Codigo" type="xs:long" />
          <xs:element minOccurs="0" name="DataPagamento" type="xs:dateTime" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Juntos.Model.Enums" minOccurs="0" name="FormaPagamento" type="q3:EnumFormaPagamento" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Juntos.Model.Enums" minOccurs="0" name="Status" type="q4:EnumStatusPagamento" />
          <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PagamentoDTO" nillable="true" type="tns:PagamentoDTO" />
  <xs:complexType name="ArrayOfAnuncianteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnuncianteDTO" nillable="true" type="tns:AnuncianteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnuncianteDTO" nillable="true" type="tns:ArrayOfAnuncianteDTO" />
</xs:schema>